@media only screen and (max-width: 480px) {
  :root {
    --main-colour: #333;
    --main-bg-colour: #fafafa;
    --main-font: 'Poppins', sans-serif;
    --working-bg-colour: #45a8e8;
    --working-bg-trans-colour: #45a8e81f;
    --resting-bg-colour: #5345e8;
    --resting-bg-trans-colour: #5345e81f;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    min-height: 100vh;
    font-family: var(--main-font);
  }

  .work-body-bg {
    background: linear-gradient(45deg, var(--working-bg-colour), transparent);
  }

  .rest-body-bg {
    background: linear-gradient(45deg, var(--resting-bg-colour), transparent);
  }

  h1 {
    text-align: center;
    padding: 1rem;
  }

  button {
    font-size: 1.5rem;
    padding: 1rem 2rem;
    border: none;
    border-radius: 5px;
    background: var(--main-colour);
    color: var(--main-bg-colour);
    cursor: pointer;
  }

  #container {
    display: grid;
    justify-items: center;
    min-height: 70vh;
    align-items: center;
  }

  #timer {
    font-size: 5rem;
    color: var(--main-colour);
    padding: 2rem;
  }

  .work-timer-bg {
    background: var(--working-bg-trans-colour);
  }

  .rest-timer-bg {
    background: var(--resting-bg-trans-colour);
  }
}
